/.DS_Store
.DS_Store

*.png
*.jpeg
*.jpg
.idea
*.tif
*.pyc
/data/video/RoboticLawnMowerOnboardCam.mp4
*.tfrecord
playground/deeplab/models/*
/models/deeplab/pretrained/
/models/deeplab/logs/LawnRobot/
/data/coco/coco/
/data/GrassTrain/video/
/data/freiburg_forest_annotated
/data/video.zip
/models/deeplab/models
/.env
.env*
